.containerTitulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 100%; */
  /* height: 8rem; */
  border: 0.2rem solid rgb(235, 168, 205);
  padding: 1rem;
  flex: 1;
}

.txtTitulo{
  color: rgb(235, 168, 205);
}


.imageHome {
  height: 50rem;
  width: 50rem;
}

.containerImage{
  display: flex;
  flex: 'row';
  justify-content: center
}

@media screen and (max-width: 960px){
  .containerImage {
    flex-direction: column;
    align-items: center;
  }	
}